@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --orange-color: rgb(255, 167, 0);
  --light-yellow-color: rgb(255, 219, 52);
  --dark-yellow-color: rgb(154, 148, 26);
  --white-color: rgb(255, 254, 249);
  --black-color: rgb(31, 27, 8);
  --light-text-shadow: 0 0 3px var(--white-color);
  --dark-text-shadow: 0 0 3px var(--black-color);
  --box-shadow: 1px 1px 3px rgba(31, 27, 8, 0.5);
  --box-shadow-container: 0 0 20px rgba(31, 27, 8, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--white-color);
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.scrollbar::-webkit-scrollbar {
  width: 1rem;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background-color: rgb(245, 245, 245);
}

.scrollbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0.1rem -0.1rem 0.3rem var(--dark-yellow-color);
  background-color: var(--orange-color);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 0.1rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-yellow-color);
}

.btn {
  cursor: pointer;
  padding: 8px 15px;
  background: var(--orange-color);
  color: var(--white-color);
  border: 0;
  border-radius: 6px;
  font-size: 18px;
  text-shadow: var(--dark-text-shadow);
  box-shadow: var(--box-shadow);
  transition: background-color 0.7s;
}

.btn-mobile {
  display: none;
}

i {
  margin-right: 4px;
}

/* Join Page */

.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff;
  box-shadow: var(--box-shadow-container);
}

.join-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--dark-yellow-color);
  text-shadow: var(--dark-text-shadow);
}

.join-header img {
  width: 3.5rem;
  padding-right: 0.7rem;
}

.join-header h1 {
  display: inline;
}

.join-main {
  padding: 30px 40px;
  background: var(--light-yellow-color);
}

.join-main .form-control {
  margin-bottom: 25px;
}

.join-main label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--black-color);
  text-shadow: var(--light-text-shadow);
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 6px;
}

.join-main input[type="text"]:focus {
  background-color: rgb(255, 253, 164);
}

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
  border: 0;
  border-radius: 6px;
}

.join-main select:focus {
  background-color: rgb(255, 253, 164);
}

.join-main .btn {
  margin: 20px 0 5px;
  width: 100%;
}

.join-main .btn:hover {
  background: var(--dark-yellow-color);
  color: var(--white-color);
  text-shadow: var(--dark-text-shadow);
}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 50px auto;
  overflow: hidden;
  box-shadow: var(--box-shadow-container);
}

.chat-container .btn:hover {
  background: var(--light-yellow-color);
  color: var(--black-color);
  text-shadow: var(--light-text-shadow);
}

.chat-header {
  background: var(--dark-yellow-color);
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-title {
  display: flex;
  justify-content: start;
  font-size: 14px;
  text-shadow: var(--dark-text-shadow);
}

.chat-title img {
  width: 3rem;
  padding-right: 0.5rem;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-image: linear-gradient(rgba(154, 148, 26, 0.7), rgba(255, 219, 52, 0.8));
}

.chat-sidebar {
  background: var(--light-yellow-color);
  color: var(--black-color);
  padding: 20px 20px 60px;
  overflow-y: scroll;
  text-shadow: var(--light-text-shadow);
}

.chat-sidebar h2 {
  font-size: 16px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.chat-sidebar h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 2px 0;
}

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgb(253, 250, 237);
  border-radius: 5px;
  overflow-wrap: break-word;
  box-shadow: var(--box-shadow);
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--black-color);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: rgb(131, 63, 0);
}

.chat-form-container {
  padding: 20px;
  background-color: var(--dark-yellow-color);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 15px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  flex: 1;
}

.chat-form-container input[type="text"]:focus {
  background-color: rgb(255, 253, 164);
}

/* Media Queries */

@media (max-width: 900px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}

@media (max-width: 500px) {
  .btn {
    display: none;
  }

  .btn-mobile {
    display: block;
    font-size: 14px;
    padding: 8px 10px;
  }

  .join-header {
    font-size: 13px;
    padding: 15px;
  }

  .join-header img {
    display: none;
  }

  .join-main {
    padding: 25px 35px;
  }

  .join-main input[type="text"] {
    font-size: 14px;
    height: 30px;
  }

  .join-main select {
    font-size: 14px;
    height: 30px;
  }

  .join-main .btn {
    margin: 30px 0 5px;
  }

  .chat-header {
    padding: 15px;
  }

  .chat-title {
    font-size: 12px;
  }

  .chat-title img {
    display: none;
  }

  .chat-messages {
    padding: 20px;
  }

  .chat-form-container {
    padding: 15px;
  }

  .chat-form-container input[type="text"] {
    font-size: 12px;
    padding: 0 10px;
    margin-right: 10px;
    height: 35px;
  }
}
